include AUTHORS
include README.md
include LICENSE
include Makefile
include tox.ini
recursive-include docs *
recursive-include requirements *
recursive-include jinja2_gtm/jinja2/gtm *.html
recursive-include jinja2_gtm/tests/media *.js *.css *.png *.coffee
recursive-include jinja2_gtm/tests/test_templates *.html